.services{
    margin-top: 6rem;
    @media screen and (max-width:992px) {
        margin-top: 4rem;
    }
    &-title{
        font-size: 55px;
        font-weight: 600;
        @media screen and (max-width:992px) {
            font-size: 36px;
        }
    }
    &-subtitle{
        font-size: 24px;
        font-weight: 400;
        @media screen and (max-width:992px) {
            font-size: 18px;
        }
    }
    &-wrapper{
        &__cards{
            margin-top: 4rem;
            @media screen and (max-width:992px) {
               margin-top: 3rem;
            }
            &--item{
                background: $light-orange;
                padding: 36px 12px;
                border-radius: 10px;
                height: 300px;

                &__title{
                    font-size: 28px;
                    font-weight: 600;
                    margin: 14px 0px 18px 0px;
                    @media screen and (max-width:992px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}