@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden ;
  font-family: 'Montserrat', sans-serif !important;
  height: auto;
 
}



a{color: $white !important; text-decoration: none !important;}

ul,
li {
  list-style: none;
}


@import "./components/header";
@import "./components/about";
@import "./components/services";
@import "./components/projects";
@import "./components/testimonials";
@import "./components/contact";
@import "./components/footer";
@import "./components/swiper";